main{
    background-color: lightgrey;
}
.more-header-column img{
    width: 50px;
    border-radius: 50%;
}
.more-header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
}
.more-header .more-header-column{
    display: flex;
    align-items: center;
}
.more-header .more-header-info{
    margin-left: 20px;
    line-height: 1.5;
}
.more-header-info .more-header-subtitle{
    font-size: 11px;
    color: rgb(199, 199, 199);
}
.more-header i{
    margin-top: 10px;
}
.more-options{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 15px 0;
    padding: 15px;
}
.more-option-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    color:#523737;
}
.more-option-list span{
    font-size: 12px;
}
.more-plus-friends{
    background-color: #fff;
}
.more-pf-header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.more-pf-header .more-pf-learnmore{
    color: #b5b5b5;
    font-size: 14px;
}
.more-pf-items{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.more-pf-item{
    display: flex;
    width: 50%;
    padding: 15px 20px;
    font-size: 12px;
}
.more-pf-item i{
    padding-right: 20px;
}
.more-links{
    background-color: #fff;
    display: flex;
    padding: 30px;
}
.more-link-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px;
}
.more-link-item img{
    width: 45px;
}
.more-link-item span{
    font-size: 10px;
    margin-top: 10px;
}